      <ul class="nav nav-tabs">
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<a ui-sref="menu">
		         		 <span class="glyphicon glyphicon-list-alt">&nbsp;</span>
		         		 Inicio 
		         	</a>
		         </li>
		         <li class="btn btn-info animated bounceInLeft" >
		         	<a ui-sref="altamascota">
		         		<span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
		         		Alta Mascota
		         	</a>
		         </li>
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<a ui-sref="grillamascota"> 
		         		<span class="glyphicon glyphicon-th" >&nbsp;</span>
		         			Grilla Mascota</a>
		         </li>
		         <li class="btn btn-info animated bounceInLeft" >
		         	<a ui-sref="alta">
		         		<span class="glyphicon glyphicon-plus-sign">&nbsp;</span>
		         		Alta Persona
		         	</a>
		         </li>
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<a ui-sref="grilla"> 
		         		<span class="glyphicon glyphicon-th" >&nbsp;</span>
		         			Grilla Persona</a>
		         </li>
		         <li  class="btn btn-info animated bounceInLeft" >
		         	<a ui-sref="login"> 
		         		<span class="glyphicon glyphicon-th" >&nbsp;</span>
		         			Login
		         	</a>
		         </li>
		        
      </ul>